body{
    background-image: linear-gradient(to bottom, black,rgb(155, 73, 73));
}

/* inicio nav */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4000;
}

.nav-color{
    background-image: linear-gradient(to right, black, rgb(65, 62, 62));
}
.navbar-brand{
    color: white;
    transition: all .3s ease-in-out;
}

.navbar-brand:hover{
    color: rgb(171 43 43 / 90%);
}
.navbar-brand img{
    margin-left: 60px;
    width: 50px;
    height: auto;
    transition: all .3s ease-in-out;
}

.navbar-brand img:hover{
    transform: rotate(-19deg) scale(1.1);
   
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

.nav-link{
    color: white;
}


.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: rgb(171 43 43 / 90%);
}
.nav-item{
    padding: 0 10px;
}
.nav-item a:hover{
    color: rgb(171 43 43 / 90%);
}

/*inicio  carrusel */

.carousel-inner{
    height: 400px;

}

.carousel-item img{
    object-fit: cover;
    /* width: 400px; */
    height: 400px;
}

/* acerca de nosotros */
/* inicio de acerca de */
.acercaDeNosotros{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.acercaDeNosotros h1{
    text-align: center;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 40px;
    color: aliceblue;
}

.acercaDeNosotros p{
    text-align: justify;
    color: aliceblue;
}
/* fin de acerca de  */
/*  */
/* inicio de espacios */
.card-item{
    margin: 20px;
    padding: 20px;
}
/* fin de espacios */

/* inicio imagen banner */
.text-form h2{
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
 
}
.imagen-banner{
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
/* final de imagen banner */
/* inicio de form */
.form-img{
    background-image: url(../img/imgForm.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

/* fin del form */
/* inicio del  footer */
.footer{
    color: whitesmoke;
    text-align: center;
}

.fa-brands{
    font-size: 30px;

}

.social-link{
    margin: 10px 20px;
    color: brown;
}